@import url(http://fonts.googleapis.com/css?family=Norican);
@font-face {
    font-family: vnf-optima-regular;
    src: url(../fonts/vnf-optima-regular.ttf);
}
@font-face {
    font-family: OpenSans-Regular;
    src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family: Roboto-Regular;
    src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: UVNDaLat_R;
    src: url(../fonts/unicode.display.UVNDaLat_R.TTF);
}
@font-face {
    font-family: kunmedbi;
    src: url(../fonts/kunmedii.ttf);
}

@font-face {
  font-family: 'Avo';
  src: url('../../fonts/avo/UTM_AVO.TTF');
}

#wrapper {
	/*position: absolute;
	width: 100%;
	height: 100%;*/
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
	background: url("../../imgs/newis_bg.png") no-repeat center center fixed;
 	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	overflow-y:hidden;
}

#wrapper > div {
  height: inherit;
  position: relative;
}

#wrapper > div:not(.step1-is-finished) {
  text-align: center;
}

#wrapper > div.step1-is-finished {
  text-align: left;
  display: block;
}

/*#wrapper > div.step1-is-finished .logo {
  display: inline-block;
  width: 30%;
}*/

#wrapper > div.step1-is-finished .angel {
  height: inherit;
}

#wrapper > div.step1-is-finished .heart, #wrapper > div.step1-is-finished .gifts {
  height: inherit;
  width: auto;
  position: relative;
}

#wrapper > div.step1-is-finished .heart {
  z-index: 100;
}

#wrapper > div.step1-is-finished .gifts {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: inherit;

  display: inline-flex;
  align-items: center;

  -webkit-animation: movegifts 5s linear infinite;
  -moz-animation: movegifts 5s linear infinite;
  -o-animation: movegifts 5s linear infinite;
}

#wrapper > div.step1-is-finished .gifts.started {
  -webkit-animation: movegifts 5s linear infinite;
  -moz-animation: movegifts 5s linear infinite;
  -o-animation: movegifts 5s linear infinite;
}

#wrapper > div.step1-is-finished .gifts.pausing {
  -webkit-animation: movegifts 7s linear infinite;
  -moz-animation: movegifts 7s linear infinite;
  -o-animation: movegifts 7s linear infinite;
}

#wrapper > div.step1-is-finished .gifts.paused {
  animation-play-state: paused !important;
}

#wrapper > div.step3-is-finished .gifts {
  display: none;
}

#alt-wallpaper {
  z-index: 1000; 
  position: absolute;
  /*height: 100%;*/
}

/*@media(min-width: 992px) {
  #alt-wallpaper {  
    width: 100%;
  }
}

@media(max-width: 992px) {
  #alt-wallpaper {  
    height: 100%;
  }
}*/

@-webkit-keyframes movegifts {
  0% {margin-left: -2000px;}
  /*25% {margin-left: 1000px;}
  50% {margin-left: 500px;}
  75% {margin-left: 250px;}*/
  100% {margin-left: 600px;}
}
@-moz-keyframes movegifts {
  0% {margin-left: -2000px;}
  /*25% {margin-left: 1000px;}
  50% {margin-left: 500px;}
  75% {margin-left: 250px;}*/
  100% {margin-left: 800px;}
}
@-o-keyframes movegifts {
  0% {margin-left: -2000px;}
  /*25% {margin-left: 1000px;}
  50% {margin-left: 500px;}
  75% {margin-left: 250px;}*/
  100% {margin-left: 600px;}
}

#wrapper > div.step1-is-finished .angel #white-angel {
  width: auto;
  max-height: 300px;
  position: absolute;
  right: 120px;
  bottom: 100px;
}

#wrapper > div.step1-is-finished .heart #heart-frame {
  position: absolute;
  top: 50%;
  /*left: 0;*/
  height: auto;
  /*transform: translateY(-50%) !important;*/
}

#wrapper > div.step1-is-finished .gifts > img {
  margin-left: 200px;
}

@media(max-width: 991px) {
  /*#wrapper > div.step1-is-finished .heart #heart-frame {
    left: 410px;
    max-width: 370px;
    transform: translate(-50%, -50%) !important;
  }*/

  #wrapper > div.step1-is-finished .gifts > img {
    /*width: 150px;*/
  }
}

@media(min-width: 992px) {
  /*#wrapper > div.step1-is-finished .heart #heart-frame {
    left: 140px;
    max-width: 520px;
    transform: translateY(-50%) !important;
  }*/

  #wrapper > div.step1-is-finished .gifts > img {
    /*width: 210px;*/
  }
}

@media(min-width: 1171px) {
  /*#wrapper > div.step1-is-finished .heart #heart-frame {
    left: 10%;
  }*/
}

#wrapper >div.step1-is-finished #logo {
  width: 100%;
  margin-top: -30%;
}

#wrapper >div.step3-is-finished > .logo {
  text-align: center;
}

#wrapper >div.step3-is-finished #logo {
  width: initial;
  margin-top: 0;
}

/*#logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 39%;
    left: 27%;
    width: 31%;
    height: 100%;
}*/

.logo_zoomout_default{
  transform: scale3d(0, 0,1) !important;
  transition : transform 0s ease ;
}

.logo_zoomin_default{
  transform: scale3d(2, 2,1) !important;
  transition : transform 3s ease ;
}

.logo_zoomin_left_default{
  transform: scale3d(1, 1,1) !important;
  transition : transform 2s ease ;
}

#second_logo{
    position: absolute;
    top: 220px;
    left: 380px;
}

#hariwon-img{
    width: 45%;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

#hariwon-img1{
    width: 26%;
    position: absolute;
    right: 0px;
    bottom: 0px;
   opacity: 0;
    transition : all 1s ease;
}

.left-area{
    position: absolute;
    right: 0px;
    bottom: 0px;
    height: 100%;
    width: 30%;
    /*border: 1px solid red;*/
}

.right-area{
 	position: absolute;
    left: 0px;
    bottom: 0px;
    height: 100%;
    width: 70%;
   /* border: 1px solid green;*/
}

.product_balloon{
    width: 25%;
}

#product_balloon_1{
    position: absolute;
    left: 35%;
    top: -50%;
}
#product_balloon_2{
    top: -50%;
    position: absolute;
    left: 1%;
}
#product_balloon_3{
    top: -50%;
    position: absolute;
    left: 70%;
}
#product_balloon_4{
    top: -40%;
    position: absolute;
    left: 60%;
}
#product_balloon_5{
    top: -40%;
    left: 60%;
}

.small_balloon{
  top:-30%;
  position: absolute;
}

.balloon_1{
  top: -7% !important;
  transition : all 2s ease;
}

.balloon_2{
  top: 55% !important;
  transition : all 2s ease;
}

.balloon_3{
  top: 55% !important;
  transition : all 2s ease;
}

.balloon_4{

}

.balloon_5{

}

.wheel{
    /* background: #F02311; */
    color: #FFF;
    position: relative;
    /* border: 1px solid blue; */
    height: 90%;
    width: 90%;
    left: 15%;
    top: 7%;
}

.transition{
	-webkit-transition : transform 2s cubic-bezier(.17,.7,.86,.88);
}
.fall_1{
	transform: translate3d(0, -100%, 0);
}
.fall_2{
	transform: translate3d(0, 0, 0);
}


.gift-product{
    position: absolute;
    top: 15%;
    left: 25%;
    width: 48%;
}

#balloon_1{
    width: 50px;
    position: absolute;
    left: 10%;
    top: 20%;
     transition : all 3s ease;
}

#balloon_2{
	width: 90px;
    position: absolute;
    left: 343px;
    top: 215px;
     transition : all 2s ease;
}

#balloon_3{
    width: 50px;
    position: absolute;
    left: 30%;
    top: 51%;
    transition : all 2s ease;
}

#balloon_4{
    width: 50px;
    position: absolute;
    left: 90%;
    top: 353px;
     transition : all 2s ease;
}

#balloon_5{
    width: 73px;
    position: absolute;
    left: 53%;
    top: 66%;
     transition : all 2s ease;
}

.other-balloon{
	/*position: absolute;*/
}


.translateFinalSkinLogo{
	opacity:0;
	-moz-transition: opacity 3s; /* Firefox 4 */
	-webkit-transition: opacity 3s; /* Safari and Chrome */
	-o-transition: opacity 3s;
}


.opacity-transition{
	transition: opacity 3s;
}
.translateFinalSkinLogo1{
	opacity:1;
}

.logan{
 	opacity:0; /* Completely invisible. */
}
.logan-show {
    opacity: 0;
    position: inherit;
    top: 67%;
    font-size: 359%;
    color: #ff0066;
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
    /*left: 27%;*/
}
.opacity{
  opacity: 1 !important;
}
.logo-show{
    top: 15%;
    position: absolute;
    left: 30%;
    width: 46%;
}

#wrap-logo-logan{
	text-align: center;
	position: relative;
	height: 100%;
	width:100%;
}

.ripple,.ripple:before,.ripple:after {
  display:block;
  border-radius:2px;
  width:2px;
  height:2px;
  -webkit-animation:rip 6s infinite;
  -moz-animation:rip 6s infinite;
}
.ripple {
  position:absolute;
  z-index:0;
  opacity: 0.1;
  left:45%;
  top:67%;
}
.ripple:before,.ripple:after {
  content:'';
  position:absolute;
}
.ripple:before {-webkit-animation-delay:.1s;-moz-animation-delay:.1s;top:5px;left:25px;}
.ripple:after {-webkit-animation-delay:.4s;-moz-animation-delay:.4s;top:25px;left:0;}
@-webkit-keyframes rip 
{
  0%  {
    box-shadow:0 0 0 0 transparent,
               0 0 0 0 transparent,
               0 0 0 0 transparent,
               0 0 0 0 transparent;
  }
  5%  {
    box-shadow:0 0 0 0 #fff,
               0 0 0 0 rgba(255,255,255,0.4),
               0 0 0 0 #fff,
               0 0 0 0 rgba(0,0,0,0.08);
  }
  100% {
    box-shadow:0 0 40px 200px #fff,
               0 0 10px 210px transparent,
               0 0 30px 220px #fff,
               0 0 5px 230px transparent;
  }
}
@-moz-keyframes rip 
{
  0%  {
    box-shadow:0 0 0 0 transparent,
               0 0 0 0 transparent,
               0 0 0 0 transparent,
               0 0 0 0 transparent;
  }
  5%  {
    box-shadow:0 0 0 0 #fff,
               0 0 0 0 rgba(255,255,255,0.4),
               0 0 0 0 #fff,
               0 0 0 0 rgba(0,0,0,0.08);
  }
  100% {
    box-shadow:0 0 40px 200px #fff,
               0 0 10px 210px transparent,
               0 0 30px 220px #fff,
               0 0 5px 230px transparent;
  }
}

@media (min-width: 1920px) {
  .logan-show {
    font-size: 500%;
  }
  #product_balloon_1{
   width: 36%;
  }
  #product_balloon_2{
   width: 36%;
  }
  #product_balloon_3{
   width: 36%;
  }
}