<div [ngClass]="{ 'step1-is-finished': isFinished.step1, 'step2-is-finished': isFinished.step2, 'step3-is-finished': isFinished.step3 }">
  <img id="alt-wallpaper" src="{{ settings.assetsPath }}/imgs/newis_bg_no_heart.png" [hidden]="!isFinished.step1 || isFinished.step2">
  <div class="logo" [ngClass]="{ 'col-sm-3 hidden-xs hidden-sm': isFinished.step1 && !isFinished.step3 }" [hidden]="isFinished.step2 && !isFinished.step3" style="z-index: 1001">
    <img [class]="logoClass" id="logo" src="{{ settings.assetsPath }}/imgs/newis-logo.png" *ngIf="step == 'showLogo'" />
  </div>
  <div class="angel" [ngClass]="{ 'col-md-9 hidden-xs hidden-sm': isFinished.step1 }" [hidden]="isFinished.step2" style="z-index: 1001">
    <img [class]="whiteAngelClass" id="white-angel" src="{{ settings.assetsPath }}/imgs/white-angel.png" *ngIf="isFinished.step1">
  </div>
  <div class="heart" [hidden]="isFinished.step2" style="opacity: 0">
    <img [class]="heartFrameClass" id="heart-frame" src="{{ settings.assetsPath }}/imgs/heart-frame.png" *ngIf="isFinished.step1">
  </div>
  <div class="gifts" [ngClass]="{ 'paused': isGamePaused, 'stated': isGameStarted }">
    <img *ngFor="let item of itemArray" id="{{ item.code }}" src="{{ settings.assetsPath + item.assetPath }}" [ngStyle]="showFinalGift(item)">
  </div>
  <h1 [hidden]="!isFinished.step2 || isFinished.step3" style="text-align: center; color: red; text-transform: uppercase; position: absolute; bottom: 0"><b>Chúc mừng bạn đã may mắn nhận được món quà từ Newis</b></h1>
</div>
